<div layout="row" style="min-height: 500px">
  <app-side-nav></app-side-nav>
  <div >
      <mat-card class="card" >
          <mat-card-header>
            <div mat-card-avatar ></div>
            <mat-card-title>Employees Management</mat-card-title>
          </mat-card-header>
          <img mat-card-image src="https://png.pngtree.com/element_origin_min_pic/17/01/05/00ae3069b9ae5ee2f5b0377a494e20f6.jpg" alt="Photo of a Shiba Inu"
            routerLink="/employee/list">
        </mat-card>
        <mat-card class="card">
            <mat-card-header>
              <div mat-card-avatar ></div>
              <mat-card-title>Projects Management</mat-card-title>
              </mat-card-header>
            <img mat-card-image src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQwKfES5t2O-FsMhR05TrIYpqTIBXaPck2hrRw6-icBJNKy5ith" alt="Photo of a Shiba Inu"
            routerLink="/project/list">
          </mat-card>    

  </div>

</div>