/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.main-container{
    padding-left: 200px;
    padding-top: 100px;
    padding-right: 100px;
}