<form [formGroup]="employeeForm" (ngSubmit)="save()" class="example-container">
  <mat-form-field>
    <input matInput placeholder="Name" type="text" formControlName="employeeName" [(ngModel)]="employee.name" />
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Company" type="text" formControlName="employeeCompany" [(ngModel)]="employee.company" />
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Age" type="number" formControlName="employeeAge" [(ngModel)]="employee.age" />
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Birth day" type="date" formControlName="employeeBirthday" [(ngModel)]="employee.birthday" />
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Favorite Color" type="text" formControlName="favoriteColor" [(ngModel)]="employee.favoriteColor"
    />
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Select a project" [(ngModel)]="employee.project" formControlName="project">
      <mat-option *ngFor="let project of projects" [value]="project.name">
        {{ project.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-card-actions>
      <button type="submit" mat-raised-button color="primary" *ngIf="!selectedEmployeeId" [disabled]="!employeeForm.valid" style="float: left;">Save</button>
      <button type="submit" mat-raised-button color="primary" *ngIf="selectedEmployeeId" [disabled]="!employeeForm.valid" style="float: left;">Edit</button>
      <button type="button" mat-raised-button color="warn" (click)="cancel()" style="float: left;">Cancel</button>
  </mat-card-actions>
</form>